body{
}
.contact-h1{
    padding: 10px;
    text-align: center;
    background: #6466c6;
    color: white;
}
.contact-ifo{
    width: 30%;
    background: #d9fff5;
    display: inline-block;
    padding: 15px;
}

#map{
    display: inline-block;
    vertical-align: top;
    width:65%;
    height:475px;
    z-index: 1;
}

@media all and (max-width: 660px){
    .contact-ifo{
        display: block;
        width: 100%;
        padding: 0;
    }
    #googleMap{
        width: 100%;
        display: block;
    }
}
.contact-form{
    background: #d9fff5;
}
.contact-div{
    margin: 10px;
}

.contact-div-textarea{
    margin: 10px;
}

.contact-input{
    width: 30%;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    outline-color:  #333333;
}
.contact-textarea{
    width: 30%;
    display: inline-block;
    border-radius: 8px;
    padding: 15px;
    outline-color:  #333333;
}

.contact-send{
    padding: 15px;
    width: 30%;
    margin: 20px;
}